name: get_bootimg_from_payload.bin

on:
  watch:
    types: [started]
    
env:
  ROM_URL:  https://bigota.d.miui.com/V13.1.6.0.SLRCNXM/miui_ZIZHAN_V13.1.6.0.SLRCNXM_c3709e8308_12.0.zip 

  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3

    - name : Upload images2
        cd ~
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: hash
        path: /home/runner/work/payload/payload/media/*
